PORT=5000
MONGODB_URI=
DB_NAME =
JWT_SECRET=
NODE_ENV=development
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=http://localhost:3000
NODE_ENV=production
NPM_CONFIG_PRODUCTION=true
NPM_CONFIG_UPDATE_NOTIFIER=false
NPM_CONFIG_FUND=false
YARN_PRODUCTION=true
CI=false
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=